PORT=5000
MONGO_URI=mongodb+srv://gazikhan747_db_user:Gazikhan_747@cluster0.7v9rwzu.mongodb.net/electro_shop?appName=Cluster0
JWT_SECRET=gazi_khan_faizan_khan
JWT_EXPIRE=2d
CLIENT_URL=https://newsonaenterprises.netlify.app/
